.col-sm-6 {
    /* font-size: 12px; */
    border-bottom: 15px solid rgb(0, 34, 64);
  }
  .col-sm-6 > .card {
    width: 100%;

    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin: auto;
  }
  .col-sm-6 > .card > .card-body {
    width: 100%;
    padding: 10px 5px;
  }
  .col-sm-6 > .card > .image float-left user-l {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }

  .newscontainer{
    margin: 5%;
  }